<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:unless = "${allAplication!=null}" th:each="appl : ${allAplication}" th:object = ${appl}>
    <p th:text="*{id}"></p>
    <p th:text="*{date}"></p>
    <p th:text="*{user}"></p>
    <p th:text="*{listEditionAp}"></p>
    <!--
    <p th:each="us : *{user}" th:text="${us.name}"></p>
    -->
</div>
<div th:unless="${editApplication!=null}">
    <div th:each="edit : ${editApplication}" th:object="${edit}">
        <p th:text="*{id}"></p>
        <p th:text="*{numberOfMonths}"></p>
        <p th:text="*{application}"></p>
        <p th:text="*{edition}"></p>
    </div>

</div>

</body>
</html>